body {
   background-color: #ebebeb;
}

#whole {
   background-color: white;
}

h1 {
   text-align: center;
}

h2 {
   text-align: center;

}

.sub-content {
   background-color: orange;
   text-align: center;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;
   padding-bottom: 5%;
}

footer.bottom {
   background-color: #212529;
   text-align: center;
}

#text {
   color: #fff;
}

#bottom-text {
   color: white;
   font-size: 10px;
}

label {
   background-color: #212529;
   color: #fff;
   line-height: 1.4;
   text-align: center;
   /* padding: 0 5px;
   padding-top: 0px;
   padding-right: 5px;
   padding-bottom: 0px;
   padding-left: 5px; */
}








/* ---------------------------Room image button setting------------------------------------------ */
/* Container needed to position the button. Adjust the width as needed */
.room {
   position: relative;
   width: 100%;
}

/* / Make the image responsive / */
.room img {
   width: 100%;
   height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.btn-room-1 {
   /* change size of button */
   width: 7%;
   padding: 2px 4px;
   /* -----------------------*/
   text-align: center;
   position: absolute;
   /* change position of button */
   top: 78%;
   left: 73%;
   /* ------------------------- */
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #555;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 50%;
}

.btn-room-2 {
   /* change size of button */
   width: 7%;
   padding: 2px 4px;
   /* -----------------------*/
   text-align: center;
   position: absolute;
   /* change position of button */
   top: 30%;
   left: 10%;
   /* ------------------------- */
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #555;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 50%;
}

.btn-room-3 {
   /* change size of button */
   width: 7%;
   padding: 2px 4px;
   /* -----------------------*/
   text-align: center;
   position: absolute;
   /* change position of button */
   top: 60%;
   left: 60%;
   /* ------------------------- */
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #555;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 50%;
}

.btn-room-4 {
   /* change size of button */
   width: 7%;
   padding: 2px 4px;
   /* -----------------------*/
   text-align: center;
   position: absolute;
   /* change position of button */
   top: 80%;
   left: 10%;
   /* ------------------------- */
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #555;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 50%;
}

.btn-room-5 {
   /* change size of button */
   width: 7%;
   padding: 2px 4px;
   /* -----------------------*/
   text-align: center;
   position: absolute;
   /* change position of button */
   top: 30%;
   left: 66%;
   /* ------------------------- */
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #555;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 50%;
}

.btn-room:hover {
   background-color: black;
}

/*--------------------------------------------------------------------------------------------------*/